@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@300&display=swap');

.nav_bar{
    position: absolute;
    top: 0;
    margin-top: 0.2rem;
    width: 100%;
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
#cart_icon{
    width: 66.06px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.line{
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    height: 2rem;
    border: 1px solid black;
}
#shopey{
    margin-top: 0.35rem;
    margin-left: 0.3rem;
    width: 148px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 41.4672px;
    line-height: 50px;
    color: #C92D2D;
}   
/* logo */

/* nav options */
.nav_options{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 2rem;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin-right: 2vw;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}
.nav-link:hover{
    color: #C92D2D;
}
.nav-link::after {
    content: none;
    width: 100%;
    height: 20px;
    background-color: white;
    position: relative;
}

/* dropdown */
.dropbtn {
    color: white;
    font-size: 2.1rem;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color:#C92D2D;
}

.dropdown {
    margin-right: 2vw;
    margin-top: 0.1rem;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #C92D2D}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media (max-width: 900px) {
    .nav-item {
        display: none;
    }
}

/* underline effect for options in navbar */
.underline {
    display: block;
    background-color: #C92D2D;
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 10px;
    transition: all 0.5s ease;
}

.i_2:hover ~ .underline {
    width: 116px;
}
  
.i_1:hover ~ .underline {
    width: 78px;
}
  
.i_3:hover ~ .underline {
    width: 150px;
}
  
.i_4:hover ~ .underline {
    width: 66px;
}
  
.i_5:hover ~ .underline {
    width: 85px;
}

/* welcoming text */
.welcoming-text{
    margin-top: 2.8rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    letter-spacing: 3px;
    a {
        text-decoration: none;
    }
    .white-text {
        color: white;
    }
    .red-text{
        color: #C92D2D;
    }
}
.lorem{
    color: white;
    width: 75vw;
}

#middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1150px) and (min-width: 875px){
    .welcoming-text{
        font-size: 2rem;
    }
}
@media (max-width: 874px) and (min-width: 445px){
    .welcoming-text{
        font-size: 1.7rem;
        margin: 3rem 1rem 0 1rem;
    }
}
@media (max-width: 444px) and (min-width: 321px){
    .welcoming-text{
        font-size: 1.45rem;
        margin: 2.8rem 1rem 0 1rem;
    }
    .lorem{
        font-size: x-small;
    }
}
@media (max-width: 320px) {
    .welcoming-text{
        font-size: 1.25rem;
        margin: 2.8rem 1rem 0 1rem;
    }
    .logo{
        #cart_icon{
            width: 45px;
        }
        .line {
            height: 1.3rem;
        }
        #shopey {
            font-size: 30px;
        }
    }
    .dropbtn {
        font-size: 1.6rem;
    }
    .lorem{
        font-size: x-small;
    }
}

/* midle content buttons */
.buttons {
    .act-list-button {
        padding-left: 33px;
        padding-right: 33px;
    }
    a {
        margin: 0.5rem 0.3rem 0 0.3rem;
        @media (max-width: 510px) and (min-width: 350px) {
            margin: 0.5rem 5rem 0.4rem 5rem;
        }
        @media (max-width: 349px){
            margin: 0.5rem 1rem 0.4rem 1rem;
        }
    }
}
/* end of midle content buttons */

/* featured listings */
.featured-listings{
    margin-top: 10px;
    height: fit-content;
    width: 100%;
}

.fetured-listing-sentence {
    margin: 4rem 0 5rem 3rem;
    display: flex;
    align-items: center;
    img{
        height: 40px;
    }
    span{
        font-size: 40px;
        font-style: normal;
        font-family: 'Lora', serif;
        color: #000000;
        line-height: 51px;
        margin-left: 4.5px;
        margin-top: 0.5px;
    }
    @media (max-width: 888px) and (min-width: 485px){
        margin-left: 1.3rem;
    }
    @media (max-width: 484px){
        img{
            height: 30px;
        }
        span{
            font-size: 30px;
        }
        margin-left: 1.3rem;
    }
    @media (max-width: 375px){
        margin: 3rem 0 3rem 1rem;
    }
    @media (max-width: 310px){
        img{
            height: 25px;
        }
        span{
            font-size: 25px;
        }
    }
}

/* listings container */

.listings-container {
    display: flex;
    flex-wrap: wrap;
}

.listing-item {
    text-decoration: none;
    transition: transform 0.6s, box-shadow 1s;
    flex-grow: 1;
    flex-basis: 270px;
    min-width: 270px;
    height: 25rem;
    background-color: #D9D9D9;
    margin-bottom: 40px;
    margin-left: 22px;
    margin-right: 22px;
    @media (min-width: 628px){
        min-width: 400px;
    }
    /* design of the item */
    border-radius: 10px 10px 10px 10px;
    filter: drop-shadow(3.5px 3.5px 4px rgba(0, 0, 0, 0.3));

    /* pic */
    .pic {
        width: 100%;
        height: 12.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0px 0px;
    }
    .pic1{
        background-image: url("media/g-class-car.jpeg");
    }
    .pic2{
        background-image: url("media/TV.png");
        background-color: white;
    }
    .pic3{
        background-image: url("media/watch.jpg");
    }
    .pic4{
        background-image: url("media/bedside-lamp.jpg");
    }

    /* item container */
    .item-container{
        position: relative;
        bottom: 0px;
        width: 90%;
        height: 130px;
        margin-top: 9px;
        margin-left: 15px;
        
        /* title */
        .title {
            color: #000000;
            font-family: 'Lora', serif;
            font-style: normal;
            font-size: 25px;
            width: 100%;
        }

        /* description */
        .description {
            font-family: 'Livvic', sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 25px;
            color: #000000;
            display: block;
            overflow: hidden; /* important */
            text-overflow: ellipsis;
            display: -webkit-box; 
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-height: 70px;
            width: 100%;
        }

        .centering {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            max-height: 70px;
            width: 100%;
        }
    }

    /* item footer */
    .item-footer {
        position: relative;
        bottom: 0px;
        background-color: #282828;
        width: 100%;
        height: 61px;
        border-radius: 0 0 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
            color: #FFFFFF;
            font-size: 25px;
            margin-left: 15px;
            margin-bottom: 2px;
            line-height: 32px;
            font-family: 'Noto Serif Khmer', serif;
        }
        .bids {
            color: #FFFFFF;
            font-size: 18.7598px;
            margin-right: 15px;
            line-height: 26px;
            font-family: 'Open Sans', sans-serif;
        }
    }

    /* end of design section*/
}
.listing-item:hover {
    transform: scale(1.04);
    box-shadow: rgba(56, 56, 56, 0.4) 0px 5px, rgba(51, 49, 50, 0.3) 0px 10px, rgba(51, 46, 49, 0.2) 0px 15px, rgba(53, 44, 50, 0.1) 0px 20px, rgba(97, 82, 91, 0.05) 0px 25px;
}

@media (min-width: 888px){
    .listing-item {
        margin-right: 16px;
    }
    .listings-container {
        margin-left: 22px;
    }
}

@media (max-width: 313px){
    .listing-item{
        min-width: 200px;
    }
    .listings-container {
        margin-left: 0px;
    }
}

/* hiden anchors */
.hiden {
    display: none;
}
@media (max-width: 1773px) and (min-width: 1336px){
    .hiden {
        display: block;
        background-color: transparent;
        flex-grow: 1;
        flex-basis: 270px;
        min-width: 270px;
        height: 25rem;
        margin-bottom: 40px;
        margin-left: 22px;
        margin-right: 22px;
        @media (min-width: 628px){
            min-width: 400px;
        }
        @media (min-width: 888px){
            margin-right: 16px;
        }
    }
}

/* explore all active listings button */
.explore_listings_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.2rem 0 5.8rem 0;

    .explore_listings_btn {
        background-color: transparent;
        color:#C92D2D;
        border: solid 1.3px #C92D2D;
        text-decoration: none;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 18.75px;
        overflow: none;
        letter-spacing: 1.08px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        line-height: 22px;
        transition: background-color 1s, color 1s;
        text-align: center;
        @media (max-width: 375px) {
            width: 260px;
            padding: 1rem 0.5rem 1rem 0.5rem;
            font-size: 15px;
        }
        @media (max-width: 300px) {
            width: 240px;
            padding: 1rem 0rem 1rem 0rem;
            font-size: 15px;
        }
    }

    .explore_listings_btn:hover {
        background-color: #C92D2D;
        color: white;
    }
}


/* end of featured listings */

/* footer of the website */
.footer{
    height: 455px;
    width: 100%;
    background-image: url('media/default-background.jpg');
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-footer {
        margin: 1rem 10rem 2rem 0;
        @media (max-width: 550px){
            margin: 1rem 6.3rem 2rem 0;
            #cart_icon{
                width: 45px;
            }
            .line {
                height: 1.3rem;
            }
            #shopey {
                font-size: 30px;
            }
        }
    }
    
    .links{
        display: flex;
    }
    a{
        font-family: 'Inter', sans-serif;
        color: #2A56F0;
        font-size: 20px;
        margin-top: 6px;
        text-decoration: none;
    }
    .links-1 {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: flex-end;
        text-align: right;
    }
    .links-2 {
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: flex-start;
    }
    .footer-line {
        height: 11.5rem;
        width: 0.2px;
        border: none;
        background-color: black;
        margin: 4px 10px 0 10px;
    }
    .designed-by {
        margin-top: 20px;
        color: white;
        font-family: 'Inter', sans-serif;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 5px;
    }
    .email{
        color: white;
        font-family: 'Inter', sans-serif;
        margin-bottom: 5px;
    }
    .phone-number {
        a{
            font-family: 'Inter', sans-serif; 
            margin: 0; 
            font-size: 1.1rem;
        }
    }
    
    @media (max-width: 440px) and (min-width: 321px){
        a{
            font-size: 15px;
        }
        .footer-line {
            height: 140px;
        } 
    }
    @media (max-width: 320px) and (min-width: 306px){
        a{
            font-size: 15px;
        }
        .footer-line {
            height: 155px;
        } 
        .designed-by {
            margin-top: 2rem;
            margin-bottom: 5px;
        }
        .email {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .links {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    @media (max-width: 305px){
        a{
            font-size: 15px;
        }
        .footer-line {
            height: 165px;
        } 
        .designed-by {
            margin-top: 2.3rem;
            margin-bottom: 8px;
        }
        .email {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }   
    @media (max-width: 285px){ 
        height: 505px;
        .designed-by{
            font-size: 12px;
        }
        .email{
            font-size: 12px;
        }
        .phone-number {
            font-size: 12px;
            flex-wrap: wrap;
            a{
                font-size: 12px;
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
        }
    }
    @media (max-width: 400px){
        .designed-by{
            font-size: 14px;
        }
        .email{
            font-size: 14px;
        }
        .phone-number {
            font-size: 14px;
            a{
                font-size: 12px;
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
        }
    }
}
/* end of the footer of the website */

