@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.nav_bar{
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
#cart_icon{
    width: 66.06px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.line{
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    height: 2rem;
    border: 1px solid black;
}
#shopey{
    margin-top: 0.35rem;
    margin-left: 0.3rem;
    width: 148px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 41.4672px;
    line-height: 50px;
    color: #C92D2D;
}
/* logo */

/* nav options */
.nav_options{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 2rem;
}
.nav-link{
    color: white;
    text-decoration: none;
    margin-right: 2vw;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

