@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer:wght@300&display=swap");
.nav_bar {
  z-index: 1; /* prevnts the navbar to be overrided by other elements*/
  height: 65px;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("media/default-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

/* logo */
#cart_icon {
  width: 50px;
  margin-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2vw;
}

.line {
  margin-left: 0.3rem;
  height: 29px;
  border: 1px solid black;
}

#shopey {
  margin-left: 0.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 50px;
  color: #C92D2D;
}

/* logo */
/* nav options */
.nav_options {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-right: 3vw;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.nav-link:hover {
  color: #C92D2D;
}

/* dropdown */
.dropbtn {
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
}
@media (max-width: 320px) {
  .dropbtn {
    font-size: 1.8rem;
  }
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #C92D2D;
}

.dropdown {
  margin-right: 2vw;
  margin-top: 0.1rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #C92D2D;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

@media (max-width: 900px) {
  .nav-item {
    display: none;
  }
}
/* underline effect for options in navbar */
.underline {
  display: block;
  background-color: #C92D2D;
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 10px;
  transition: all 0.4s ease;
}

.i_2:hover ~ .underline {
  width: 103px;
}

.i_1:hover ~ .underline {
  width: 70px;
}

.i_3:hover ~ .underline {
  width: 135px;
}

.i_4:hover ~ .underline {
  width: 56px;
}

/* website footer */
.footer {
  height: 455px;
  width: 100%;
  background-image: url("media/default-background.jpg");
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* logo */
}
.footer #cart_icon2 {
  width: 66.06px;
}
.footer .line2 {
  margin-top: 0.4rem;
  margin-left: 0.3rem;
  height: 2rem;
  border: 1px solid black;
}
.footer #shopey2 {
  margin-top: 0.35rem;
  margin-left: 0.3rem;
  width: 148px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 41.4672px;
  line-height: 50px;
  color: #C92D2D;
}
.footer .logo-footer {
  margin: 1rem 0rem 2rem 0;
  display: flex;
  align-items: center;
}
@media (max-width: 550px) {
  .footer .logo-footer {
    margin: 1rem 0rem 2rem 2rem;
  }
  .footer .logo-footer #cart_icon2 {
    width: 45px;
  }
  .footer .logo-footer .line2 {
    height: 1.3rem;
  }
  .footer .logo-footer #shopey2 {
    font-size: 30px;
  }
}
.footer .links {
  display: flex;
}
.footer a {
  font-family: "Inter", sans-serif;
  color: #2A56F0;
  font-size: 20px;
  margin-top: 6px;
  text-decoration: none;
}
.footer .links-1 {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: flex-end;
  text-align: right;
}
.footer .links-2 {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: flex-start;
}
.footer .footer-line {
  height: 11.5rem;
  width: 0.2px;
  border: none;
  background-color: black;
  margin: 4px 10px 0 10px;
}
.footer .designed-by {
  margin-top: 20px;
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5px;
}
.footer .email {
  color: white;
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
}
.footer .phone-number a {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 1.1rem;
}
@media (max-width: 440px) and (min-width: 321px) {
  .footer a {
    font-size: 15px;
  }
  .footer .footer-line {
    height: 140px;
  }
}
@media (max-width: 320px) and (min-width: 306px) {
  .footer a {
    font-size: 15px;
  }
  .footer .footer-line {
    height: 155px;
  }
  .footer .designed-by {
    margin-top: 2rem;
    margin-bottom: 5px;
  }
  .footer .email {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer .links {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 305px) {
  .footer a {
    font-size: 15px;
  }
  .footer .footer-line {
    height: 165px;
  }
  .footer .designed-by {
    margin-top: 2.3rem;
    margin-bottom: 8px;
  }
  .footer .email {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 285px) {
  .footer {
    height: 505px;
  }
  .footer .designed-by {
    font-size: 12px;
  }
  .footer .email {
    font-size: 12px;
  }
  .footer .phone-number {
    font-size: 12px;
    flex-wrap: wrap;
  }
  .footer .phone-number a {
    font-size: 12px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}
@media (max-width: 400px) {
  .footer .designed-by {
    font-size: 14px;
  }
  .footer .email {
    font-size: 14px;
  }
  .footer .phone-number {
    font-size: 14px;
  }
  .footer .phone-number a {
    font-size: 12px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

/* end of website footer *//*# sourceMappingURL=layout.css.map */