{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}Active-listings{% endblock %}

{% block head %}
    <link href="{% static 'auctions/active_listings.css' %}" rel="stylesheet">
{% endblock %}

{% block middle-content %}
    <h1></h1>

    <!-- active listings -->
    <div class="active-listings">

        <!-- listings blocks container -->
        <div class="listings-container">

            {% for active_listing in active_listings %}
                <!-- listings blocks -->
                <a class="listing-item" href="#">
                    <!-- picture -->
                    <div class="pic" style="background-image:url('{{ active_listing.image_url }}');">&nbsp;</div>

                    <!-- title and description -->
                    <div class="item-container">
                        <span class="title">{{ active_listing.title }}</span>
                        <div class="centering">
                            <span class="description">{{ active_listing.description }}</span>
                        </div>
                        
                    </div>
                    
                    <!-- item footer -->
                    <div class="item-footer">
                        <span class="price">{{ active_listing.price.bid }}$</span>
                        <span class="bids">10 bids</span>
                    </div>
                </a>
            {% endfor %}

        </div>

        <!-- discover categories button -->
        <div class="explore_categories_container">
            <a class="explore_categories_btn" href="#">Explore Categories>></a>
        </div>
        
    </div>

{% endblock %}