{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}Active-listings{% endblock %}

{% block head %}
    <link href="{% static 'auctions/active_listings.css' %}" rel="stylesheet">
{% endblock %}

{% block middle-content %}

    <h1></h1>

    <!-- active listings -->
    <div class="active-listings">

        <!-- listings blocks container -->
        <div class="listings-container">

            {% for category in categories %}
                <!-- listings blocks -->
                <a class="listing-item" href="{% url 'listing_details' active_listing.id %}">
                    <!-- picture -->
                    <div class="pic" style="background-image:url('{{ active_listing.image_url }}');">&nbsp;</div>

                    <!-- title and description -->
                    <div class="item-container">
                        <span class="title">{{ active_listing.title }}</span>
                        <div class="centering">
                            <span class="description">{{ active_listing.description }}</span>
                        </div>
                        
                    </div>
                    
                    <!-- item footer -->
                    <div class="item-footer">
                        <span class="price">{{ active_listing.price.bid }}$</span>
                        <span class="bids">{{ active_listing.total_bids }} bids</span>
                    </div>
                </a>
            {% endfor %}

        </div>

        {% if footer == "explore_categories" %}
            <!-- discover categories button -->
            <div class="explore_categories_container">
                <a class="explore_categories_btn" href="#">Explore Categories>></a>
            </div>
        {% elif footer == "empty_watchlist" %}
            <!-- no listings in the wathlist -->
            <div style="height: 200px;">
                <div class="alert alert-dark" role="alert" style="display: flex; justify-content: center; align-items: center; margin: 90px 10px 40px 10px; min-width: 60vw;">
                    No Listings in the watchlist yet.
                </div>
            </div>
        {% endif %}
        
    </div>

{% endblock %}