{% extends "auctions/wave.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'auctions/index.css' %}" rel="stylesheet">
    <link href="{% static 'auctions/media/cart.png' %}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}

    <!-- navbar -->
    <div class="nav_bar">
        <!-- logo -->
        <div class="logo">
            <img src="{% static 'auctions/media/shopping-icon.png' %}" rel="icon" id="cart_icon">
            <span class="line"></span>
            <span id="shopey">Shopey</span>
        </div>

        <!-- options -->
        <ul class="nav_options">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Whatchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Contact us</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}            
        </ul>
    </div>

{% endblock %}