{% extends "auctions/wave.html" %}

{% load static %}

{% block head %}
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/custom.css' %}">

    <link href="{% static 'auctions/index.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a122ebbd90.js" crossorigin="anonymous"></script>

    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
{% endblock %}

{% block body %}

    <!-- navbar -->
    <div class="nav_bar">
        <!-- logo -->
        <div class="logo">
            <img src="{% static 'auctions/media/shopping-icon.png' %}" rel="icon" id="cart_icon">
            <span class="line"></span>
            <span id="shopey">Shopey</span>
        </div>

        <!-- options -->
        <ul class="nav_options">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link  i_1" href="{% url 'logout' %}">Log out</a>
                    <span class="underline"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link i_2" href="#">Whatchlist</a>
                    <span class="underline"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link i_3" href="{% url 'create_listing' %}">Create Listing</a>
                    <span class="underline"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link i_2" href="#">Contact us</a>
                    <span class="underline"></span>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link i_4" href="{% url 'login' %}">Log In</a>
                    <span class="underline"></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link i_5" href="{% url 'register' %}">Register</a>
                    <span class="underline"></span>
                </li>
            {% endif %} 
            <li>
                {% if user.is_authenticated %}
                <!-- dropdown menu if loged in -->
                <div class="dropdown">
                    <i onclick="myFunction()" class="fa-solid fa-list-ul dropbtn"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'logout' %}">Log out</a>
                        <a href="#">Whatchlist</a>
                        <a href="{% url 'create_listing' %}">Create Listing</a>
                        <a href="#">Contact us</a>
                        <a href="{% url 'active_listings' %}">Active listings</a>
                        <a href="#">Discover categories</a>
                    </div>
                </div>

                {% else %}
                <!-- dropdown menu if loged out -->
                <div class="dropdown">
                    <i onclick="myFunction()" class="fa-solid fa-list-ul dropbtn"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'login' %}">Log in</a>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
                {% endif %}
            </li>           
        </ul>
        
    </div>

    <!-- e-commerce welcoming sentence -->
    <div id="middle-content">
        <div class="welcoming-text">
            <a href="#"><span class="white-text">E-COMMERCE ONLINE SHOPING AT</span>
            <span class="red-text">SHOPEY</span></a>
        </div>

        <!-- lorem paragraph -->
        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi.</p>

        <!-- buttons -->
        <div class="buttons">
            <a href="#" class="btn btn-outline-danger">Descover Catigories</a>
            <a href="{% url 'active_listings' %}" class="btn btn-outline-danger act-list-button">Active listings</a>
        </div>

    </div>

   
{% endblock %}

{% block middle %}
    <!-- featured listings -->
    <div class="featured-listings">
        <!-- welcoming text -->
        <div class="fetured-listing-sentence">
            <img src="{% static 'auctions/media/journal-bookmark-fill.svg' %}">
            <span>Featured Listings:</span>
        </div>

        <!-- listings blocks container -->
        <div class="listings-container">

            <!-- listings blocks -->
            <a class="listing-item" href="#">
                <!-- picture -->
                <div class="pic pic1"></div>

                <!-- title and description -->
                <div class="item-container">
                    <span class="title">Mercedes G-class</span>
                    <div class="centering">
                        <span class="description">It is equiped with an 8-cylender turbo engine</span>
                    </div>
                    
                </div>
                
                <!-- item footer -->
                <div class="item-footer">
                    <span class="price">9300.0$</span>
                    <span class="bids">10 bids</span>
                </div>
            </a>

            <a class="listing-item" href="#">
                <!-- picture -->
                <div class="pic pic2"></div>

                <!-- title and description -->
                <div class="item-container">
                    <span class="title">Smart TV</span>
                    <div class="centering">
                        <span class="description">Contains all modern features (Netflix, Youtube, Internet access.....)</span>
                    </div>
                </div>

                <!-- item footer-->
                <div class="item-footer">
                    <span class="price">500.0$</span>
                    <span class="bids">6 bids</span>
                </div>
            </a>

            <a class="listing-item" href="#">
                <!-- picture -->
                <div class="pic pic3"></div>

                <!-- title and description -->
                <div class="item-container">
                    <span class="title">Watch</span>
                    <div class="centering">
                        <span class="description">Gorgeous watch with a silver strap.</span>
                    </div>
                </div>

                <!-- item footer -->
                <div class="item-footer">
                    <span class="price">450.0$</span>
                    <span class="bids">13 bids</span>
                </div>
            </a>

            <a class="listing-item" href="#">
                <!-- footer -->
                <div class="pic pic4"></div>

                <!-- title and description -->
                <div class="item-container">
                    <span class="title">Bedside lamp</span>
                    <div class="centering">
                        <span class="description">Small nightstand lamp with LED bulb and wood stand </span>
                    </div>
                </div>

                <!-- item footer -->
                <div class="item-footer">
                    <span class="price">39.99$</span>
                    <span class="bids">2 bids</span>
                </div>
            </a>
            <a class="hiden"></a>
            <a class="hiden"></a>
        </div>
        <!-- end of listings blocks -->

        <!-- explore all active listings button -->
        <div class="explore_listings_container">
            <a class="explore_listings_btn" href="#">Explore all active listings>></a>
        </div>

    </div>

    <!-- footer of the website -->
    <div class="footer">
        <!-- logo -->
        <div class="logo logo-footer">
            <img src="{% static 'auctions/media/shopping-icon.png' %}" rel="icon" id="cart_icon">
            <span class="line"></span>
            <span id="shopey" style="color: white;">Shopey</span>
        </div>

        <!-- links -->
        <div class="links">
            <div class="links-1">
                <a href="#">Home</a>
                <a href="#">Active Listings</a>
                <a href="#" class="c-a-n-l">Create a new Listing</a>
                <a href="#">Report a bug</a>
                <a href="#">WachList</a>
            </div>
            <span class="line footer-line"></span>
            <div class="links-2">
                <a href="#">Log In</a>
                <a href="#">Register</a>
                <a href="#">Terms of service</a>
                <a href="#">Discover Categories</a>
                <a href="#">Contact us</a>
            </div>
        </div>

        <!-- designed by -->
        <span class="designed-by">This website is designed and developed by Karim Ammar</span>
        
        <!-- email -->
        <span class="email">Email: mk739@gmail.com</span>

        <!-- phone number -->
        <div class="phone-number">
            <span style="color: white; font-family: 'Inter', sans-serif;">Number:</span>
            <a href="#">+96171458946</a>
            <span style="color: white; font-family: 'Inter', sans-serif;">(Whatsapp)</span>
        </div>
        
    </div>
{% endblock %}