{% extends 'auctions/layout.html' %}

{% load static %}

{% block title %}Listing-details{% endblock %}

{% block head %}
    <link href="{% static 'auctions/listing-details.css' %}" rel="stylesheet">
    <!-- fontawesome icons -->
    <link rel="stylesheet" href="https://kit.fontawesome.com/a122ebbd90.css" crossorigin="anonymous">
{% endblock %}

{% block middle-content %}
    <!-- desplaying details -->
    <div class="container">

        <!-- header -->
        <div class="header">
            <!-- close auction button if the auction is for the owner -->
            <div class="centering" style="display: flex; justify-content: center; align-items: center;">
                <div class="polygon-border">
                   <button>Close Auction</button> 
                </div>
            </div>

            <!-- add to whatchlist -->
            <div class="watchlist">
                <img alt="watchlist-icon" src="{% static 'auctions/media/add_watchlist.png' %}">
                <a href="#" >Add to whatchlist</a>
            </div>
            
        </div>
        <!-- end of header -->

        
        <!-- top container -->
        <div class="top-container">

            <!-- left container (image of the listing item) -->

            <div class="left-container" style="background-image:url('{{ listing.image_url }}');">&nbsp;

                <!-- image counter -->
                <span class="img-counter"></span>

                <!-- full screen -->
                <span class="full-screen-icon"></span>  

            </div>

            <!-- end of left container -->


            <!-- right container -->
            <div class="right-container">

                <!-- first (title and price) container -->
                <div class="first">
                    <span class="title">{{ listing.title }}</span>
                    <span class="price">${{ listing.price.bid }}*</span>
                    <span class="decoration">incl. local Tax & Shipping.</span>
                </div>

                <!-- second (description) container -->
                <div class="second">
                    <span>{{ listing.description }}</span>
                </div>

                <!-- third (bids) container -->
                <!-- bids form -->
                <form class="third" method="post" action="{% url 'listing_details' listing.id %}">
                    {% csrf_token %}
                    <label>{{ listing.total_bids }} bid(s) so far. Your bid is the current bid.</label>
                    <input class="bid-input" type="number" step="any" name="bid" placeholder="$ 0.00" autocomplete="off">
                    <div class="btn-wrap">
                        <input class="submit-btn" type="submit" value="BID">
                    </div>

                    <!-- form name -->
                    <input type="hidden" name="form_name" value="bid">

                </form>
                <!-- end of bids form  -->
                
                <!-- fourth (details) container-->
                <div class="fourth">
                    <span class="details-greeting">Details</span>

                    <!-- bar -->
                    <div class="bar">
                        <div class="line"><div class="small-line"></div></div>
                    </div>

                    <ul>
                        <li><span>Listed by: </span><span class="owner">  {{ listing.owner }}</span></li>
                        <li><span>Category:  {{ listing.category }}</span></li>
                    </ul>
                </div>

            </div>
            <!-- end of right container -->

        </div>
        <!-- end of top container-->
        
        
        <!-- lower container(comments section) -->
        <div class="lower-container">

            <span class="details-greeting">comments</span>

            <!-- bar -->
            <div class="bar">
                <div class="line"><div class="small-line"></div></div>
            </div>

            <!-- comments container -->
            <div class="comments-container">
                
                <!-- looping over each comment individually -->
                {% for comment in comments %}
                    <!-- comment -->
                    <div class="comment">
                        <div class="side-bar">
                            <span class="sign">+</span>
                            <span class="number">12</span>
                            <span class="sign">-</span>
                        </div>
                        <div class="right-container">
                            <!-- head -->
                            <div class="head">
                                <!-- profile -->
                                <div class="profile">
                                    <img src="{% static 'auctions/media/profile.png' %}" rel="icon">
                                    <span class="username">{{ comment.author }}</span>
                                    <span class="date">1 month ago</span>
                                </div>

                                <!-- reply -->
                                <div class="reply-container">
                                    <i class="fa-solid fa-reply"></i>
                                    <span>Reply</span>
                                </div>

                            </div>
                            <!-- end of head -->

                            <!-- the actual comment itself -->
                            <p>{{ comment.comment }}</p>
                        
                        </div>
                    </div>
                {% endfor %}
                <!-- end of for loop -->

                <!-- if there is no comments -->
                {% if total_comments == 0 %}
                    <span style="font-size: 15px;">No comments yet.</span>
                {% endif %}

                <!-- bar in between -->
                <div class="middle-bar"></div>

                <!-- add a new comment -->
                <form class="add_comment" method="post" action="{% url 'listing_details' listing.id %}">
                    {% csrf_token %}
                    <div class="comment_profile">
                        <!-- profile icon -->
                        <img src="{% static 'auctions/media/profile.png' %}" rel="icon">

                        <!-- add comment textarea field -->
                        <textarea id="add_comment" name="add_comment" rows="4" cols="50" placeholder="Add a comment..."></textarea>
                    </div>

                    <!-- submit the comment -->
                    <input type="submit" value="SEND">

                    <!-- form name -->
                    <input type="hidden" name="form_name" value="comment">

                </form>

            </div>
            <!-- end of comments container -->

        </div>
        <!-- end of the lower container (comments section) -->

    </div>
    <!-- end od desplaying details' container -->

{% endblock %}