{% extends "auctions/wave.html" %}

{% load static %}

{% block head %}
    <link href="{% static 'auctions/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <!-- login container -->
    <div class="container">

        <!-- profile icon -->
        <div class="profile-icon">
            <img src="{% static 'auctions/media/profile.png' %}" alt="profile-icon">
        </div>

        <!-- loin-greeting -->
        <h2 class="greeting">Log in</h2>

        <!-- checking for errors -->
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <!-- if no errors -->
        <!-- form -->
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <!-- username -->
            <div class="form-group">
                <input class="input" type="text" name="username" placeholder="Enter username" autocomplete="none">
            </div>

            <!-- password -->
            <div class="form-group">
                <input class="input" type="password" name="password" placeholder="Enter password">
            </div>

            <!-- sentence -->
            <div class="sentence">
                <span>Don't have an account?</span> <a href="{% url 'register' %}">Register here</a>
            </div>

            <!-- submit button -->
            <input class="button" type="submit" value="Login">
        </form>

    </div>

{% endblock %}